########################################################################
# This is a reusable workflow
########################################################################
name: Docker Push

on:
  workflow_call:
    inputs:
      image_name:        
        required: true
        type: string
      context:                
        type: string
        required: false
        default: .
      tag: 
        type: string
        default: latest
      run_id: 
        type: string
      org:
        required: true     
        type: string
      username:
        type: string
        required: false
      code_directory:
        type: string
        required: false
        default: app_code
    secrets:
      password:        
        required: true

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Normalise Tag
        run: |                    
          echo "GITHUB_REF_NAME=${GITHUB_REF_NAME////_}" >> $GITHUB_ENV
          echo "GITHUB_REF_NAME -> $GITHUB_REF_NAME"

      # - name: Validate composer.json and composer.lock
      #   working-directory: ${{ inputs.code_directory }}
      #   run: composer validate --strict
        
      
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php- 

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress      

      - name: Log into registry 
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ inputs.username }}
          password: ${{ secrets.password }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with:
          images: ghcr.io/${{ inputs.org }}/${{ inputs.image_name }}

      # Runs a single command using the runners shell
      - name: Build Docker Image
        id: build
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ${{ inputs.context }}
          push: ${{ github.ref == 'refs/heads/develop' && github.event_name == 'push' }}
          tags: ${{ steps.meta.outputs.tags }}_${{ github.run_id }},ghcr.io/${{ inputs.org }}/${{ inputs.image_name }}:${{ inputs.tag }}_${{ env.GITHUB_REF_NAME  }}
          labels: ${{ steps.meta.outputs.labels }} 
                   
