name: Terraform

on:
  workflow_call:
    inputs:
      working_dir: 
        required: true
        type: string
      terraform_vars:
        required: false
        type: string
    secrets:
      access_key_id:
        required: true
      secret_access_key:
        required: true

jobs:
  terraform:    
    runs-on: ubuntu-latest
    environment: development
          

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.access_key_id }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.secret_access_key }}

    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working_dir }}
        
    steps:
    - name: Github Action IP
      id: ip
      uses: haythem/public-ip@v1.2    
      
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.1.8
        
    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check

    - name: Terraform Plan
      run: terraform plan -input=false ${{ inputs.terraform_vars }} 

    - name: Terraform Apply
      if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false