name: Terraform Minikube

on:
  workflow_call:
    inputs:
      working_dir: 
        required: true
        type: string
      gpg_key:        
        required: false
        type: boolean
        default: false
    secrets:
      gpg_private_key:
        required: false

jobs:
  terraform-minikube:    
    runs-on: ubuntu-latest
    environment: development

    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.working_dir }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Import GPG key
      id: import_gpg
      uses: hashicorp/ghaction-import-gpg@v2.1.0
      env:
        GPG_PRIVATE_KEY: ${{ secrets.gpg_private_key }}

    - name: Sops Binary Installer
      uses: mdgreenwald/mozilla-sops-action@v1.2.0
      with:
        version: "3.7.2"
      id: install

    - name: Install Helm Secrets
      run: |
        helm plugin install https://github.com/jkroepke/helm-secrets

    - name: Start minikube
      uses: medyagh/setup-minikube@master

    - name: Setup minikube
      run: |
        minikube update-context

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.1.8
        
    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check
    
    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      # if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform plan -input=false ${{ inputs.terraform_vars }}

    - name: Terraform Apply
      # if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false
    
    - name: Test Deployment
      run: |
        nohup minikube tunnel > /dev/null 2>&1 &
        minikube service --url ingress-nginx-controller > url.txt
        while read url; do curl $url; done < url.txt
        echo "Showing Pods"
        kubectl get po --all-namespaces
        echo "Showing Ingress"
        kubectl get ingress --all-namespaces