name: Terraform Minikube

on:
  workflow_call:
    inputs:
      working_dir: 
        required: true
        type: string

jobs:
  terraform-minikube:    
    runs-on: ubuntu-latest
    environment: development

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Start minikube
      uses: medyagh/setup-minikube@master

    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.1.8
        
    - name: Terraform Init
      run: terraform init

    - name: Terraform Format
      run: terraform fmt -check
    
    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      # if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform plan -input=false ${{ inputs.terraform_vars }}

    - name: Terraform Apply
      # if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false